doctype html
html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script
            include index.js
        style
            include index.css
    body
        .container
            .row
                .col-xs-8.col-sm-8.col-md-12.col-lg-10.col-lg-push-1
                    .text-center
                        h1 WeGo
                        h3 Bảng thống kê chi phí của tất cả các thành viên trong chuyến đi
                    table.table.table-hover.table-bordered
                        thead
                            tr
                                th Tên Thành Viên
                                th Email
                                th Số Dư Chuyến Đi
                                th Chi Tiết
                        tbody
                             each user in users
                                     tr.click-row(idUser=user._id)(tripId=tripId)
                                         td= user.name
                                         td= user.email
                                         if (user.totalBalanceTrip < 0)
                                             td(style='color:red;')= user.totalBalanceTrip.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + ' VNĐ'
                                         else
                                             td(style='color:green;')= user.totalBalanceTrip.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + ' VNĐ'
                                         td
                                             button.btn(type='button')
                                                 a(href=`http://localhost:3001/api/index/sendMailTotalMoneyDetails/${tripId}/${user._id}`) Chi Tiết



